	/*
  	Flaticon icon font: Flaticon
  	Creation date: 09/06/2020 03:43
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-email:before { content: "\f100"; }
.flaticon-email-1:before { content: "\f101"; }
.flaticon-envelope:before { content: "\f102"; }
.flaticon-globe:before { content: "\f103"; }
.flaticon-global:before { content: "\f104"; }
.flaticon-search:before { content: "\f105"; }
.flaticon-search-1:before { content: "\f106"; }
.flaticon-heart:before { content: "\f107"; }
.flaticon-like:before { content: "\f108"; }
.flaticon-user:before { content: "\f109"; }
.flaticon-cart:before { content: "\f10a"; }
.flaticon-shopping-cart:before { content: "\f10b"; }
.flaticon-shopping-cart-1:before { content: "\f10c"; }
.flaticon-right:before { content: "\f10d"; }
.flaticon-right-arrow:before { content: "\f10e"; }
.flaticon-right-1:before { content: "\f10f"; }
.flaticon-right-chevron:before { content: "\f110"; }
.flaticon-right-arrow-2:before { content: "\f111"; }
.flaticon-left:before { content: "\f112"; }
.flaticon-left-arrow:before { content: "\f113"; }
.flaticon-left-1:before { content: "\f114"; }
.flaticon-left-chevron:before { content: "\f115"; }
.flaticon-left-2:before { content: "\f116"; }
.flaticon-free-delivery:before { content: "\f117"; }
.flaticon-free-delivery-1:before { content: "\f118"; }
.flaticon-truck:before { content: "\f119"; }
.flaticon-credit-card:before { content: "\f11a"; }
.flaticon-credit-card-1:before { content: "\f11b"; }
.flaticon-support:before { content: "\f11c"; }
.flaticon-support-1:before { content: "\f11d"; }
.flaticon-24-7:before { content: "\f11e"; }
.flaticon-24-hours:before { content: "\f11f"; }
.flaticon-return:before { content: "\f120"; }
.flaticon-undo:before { content: "\f121"; }
.flaticon-speech-bubble:before { content: "\f122"; }
.flaticon-commentary:before { content: "\f123"; }
.flaticon-chat:before { content: "\f124"; }
.flaticon-dress:before { content: "\f125"; }
.flaticon-t-shirt:before { content: "\f126"; }
.flaticon-baby-clothes:before { content: "\f127"; }
.flaticon-woman:before { content: "\f128"; }
.flaticon-necklace:before { content: "\f129"; }
.flaticon-necklace-1:before { content: "\f12a"; }
.flaticon-shoe-washing-bag:before { content: "\f12b"; }
.flaticon-backpack:before { content: "\f12c"; }
.flaticon-plastic-bag:before { content: "\f12d"; }
.flaticon-rocking-horse:before { content: "\f12e"; }
.flaticon-lightbulb:before { content: "\f12f"; }
.flaticon-lightbulb-1:before { content: "\f130"; }
.flaticon-laptop:before { content: "\f131"; }
.flaticon-laptop-1:before { content: "\f132"; }
.flaticon-plus:before { content: "\f133"; }
.flaticon-plus-1:before { content: "\f134"; }
.flaticon-location-pin:before { content: "\f135"; }
.flaticon-location-pin-1:before { content: "\f136"; }
.flaticon-maps-and-flags:before { content: "\f137"; }
.flaticon-phone-ringing:before { content: "\f138"; }
.flaticon-call:before { content: "\f139"; }
.flaticon-diagonal-arrow-1:before { content: "\f13a"; }
.flaticon-list:before { content: "\f13b"; }
.flaticon-menu:before { content: "\f13c"; }
.flaticon-list-1:before { content: "\f13d"; }
.flaticon-list-2:before { content: "\f13e"; }
.flaticon-zoom-in:before { content: "\f13f"; }
.flaticon-search-2:before { content: "\f140"; }
.flaticon-star:before { content: "\f141"; }
.flaticon-minus:before { content: "\f142"; }
.flaticon-minus-1:before { content: "\f143"; }
.flaticon-star-1:before { content: "\f144"; }
.flaticon-star-2:before { content: "\f145"; }
.flaticon-cancel:before { content: "\f146"; }
.flaticon-close:before { content: "\f147"; }